Source: documaster-noark-extraction-validator
Section: misc
Priority: optional
Maintainer: Documaster Support <support@documaster.no>
Build-Depends: debhelper (>=9)

Package: documaster-noark-extraction-validator
Architecture: any
Depends: openjdk-17-jdk
Description: Documaster Noark Extraction Validator
