<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">

	<properties>
		<property name="log.dir">/var/log/documaster/noark-extraction-validator</property>
		<property name="filename">${log.dir}/noark-extraction-validator.log</property>
	</properties>

	<appenders>

		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d %p %C{1.} [%t] %m%n"/>
		</Console>

		<RollingFile name="File" fileName="${filename}" filePattern="${filename}.%i.gz">
			<PatternLayout pattern="%d %p %C{1.} [%t] %m%n"/>
			<SizeBasedTriggeringPolicy size="10 MB"/>
			<DefaultRolloverStrategy max="9"/>
		</RollingFile>

	</appenders>

	<loggers>

		<root level="debug">
			<appender-ref ref="Console" level="info"/>
			<appender-ref ref="File" level="debug"/>
		</root>

	</loggers>

</configuration>
